### IntelliJ IDEA ###
../.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

### Maven ###
target/
!src/main/resources/**/target/  # Include resources but exclude target directories
!src/test/resources/**/target/

### Gradle ###
build/

### Common directories ###
out/
*.log
*.war
*.ear
*.jar

### Temporary files ###
*.tmp
*.bak
*.swp
*~.nib

### JEE Specific ###
**/webapps/
**/temp/
**/logs/
**/work/
**/lib/
**/cache/
**/generated-sources/
**/generated-test-sources/

### Other IDEs ###
nbproject/
*/target
/company/target
/company/target/
